.centerContent {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    color: white;
    cursor: pointer;
    gap: 50px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: antiquewhite;
    cursor: pointer;
    padding-left: 15px;
  }
  
  .logo img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
  }
  
  .logo h2 {
    margin: 0;
    color: antiquewhite;
  }